nextflow.enable.dsl = 2

params {
  // Reference and Study VCFs (REQUIRED)
  // Expectation: bgzipped + tabix-indexed; one file per chromosome named "chrN.vcf.gz"
  // e.g., /data/ref/gnomad.hgdp_tgp.chr1.vcf.gz ... chr22.vcf.gz (and matching .tbi)
  input_reference =  "/lustre06/project/6061810/CERC_Private/Geno/CARTaGENE/Array/Pre-imputation/chr*.CARTaGENEv1.1.array.vcf.gz"
  // Sample include lists (one sample ID per line)
  qc_ref_list     =  "/lustre07/scratch/justinp/Collab_Annelie/FlashPCA2_AncestryInference/results/FlashPCA2_PCA/PCA_plots/plot_PCA/plot_PCA_project_specific/balanced_reference_sample_list_maxN1001_plus_carriers.id"

  // Study VCFs and sample list are only required when run_projection = true
  input_study     =  ""
  qc_study_list   =  ""

  

  // If the BED file is included in the repository (e.g., bin/genome_gap_hg38_and_MHC.bed),
  // simply reference it relative to the pipeline directory:
  lowcomplexity_bed = "/lustre07/scratch/justinp/Collab_Annelie/LASER_PCA_AncestryInference/bin/genome_gap_hg38_and_MHC.bed"  // path relative to main.nf; expects hg38 coordinates and matching <chr> prefix
  header_bed        = "TRUE"                             // set to "FALSE" if the BED file has no header


  // Reference metadata (TSV) used for coloring/labels in plots (columns in this order: `sample     population`)
  // The tsv files requires a header line e.g. 'ID    group'
  meta_file       = "/lustre07/scratch/justinp/Collab_Annelie/FlashPCA2_AncestryInference/results/FlashPCA2_PCA/PCA_plots/plot_PCA/plot_PCA_project_specific/balanced_reference_sample_list_maxN1001_plus_carriers.tsv"

  // Must be uncompressed .fa with .fai
  ref_fasta       = "/lustre06/project/6072431/shared/Reference_genome/GRCh38/hg38.fa"


  // Path to FlashPCA2
  flashpca_bin = "/lustre06/project/6005588/shared/bin/flashpca_x86-64"

  // ── Defaults (users can override on the CLI) ────────────────────────────────
  nPCs = 20
  // Run study projection onto reference PCA?
  run_projection = false

  // Quality control and LD-pruning parameters 
  maf = 0.01
  geno = 0.001
  prune_window = 1000
  prune_step = 100
  prune_r2 = 0.01

  // KNN-style ancestry call helper params (used by plotting/post-processing)
  k = 10
  n_pcs = 4
  threshold_N = 6

  outdir = "results/FlashPCA2_PCA"
}

process {
  executor = "slurm"
  clusterOptions = "--account=ctb-hussinju"
  cpus = 1
  time = "4h"
  memory = "16 GB"

  withName: "final_qc_and_prune_ref" {
    time = "4h"
    memory = "15 GB"
  }

  withName: "run_flashpca_reference" {
    cpus = 8
    time = "2h"
    memory = "16 GB"
  }

  withName: "project_study_flashpca" {
    cpus = 4
    time = "2h"
    memory = "16 GB"
  }

  withName: "run_pca_analysis_reference" {
    time   = "2h"
    memory = "16 GB"
  }

  withName: "run_pca_analysis_projection" {
    time   = "2h"
    memory = "16 GB"
  }

}
